@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;800&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro' , sans-serif;

	
}


/*nav-bar*/

.container{
	max-width: 1140px;
	margin: 0 auto;


}
nav{
	box-shadow: 5px 2px 150px rgba(0, 0, 0, 0.471);
}

.nav-con{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 60px;
	
}

.menu{
	display: flex;
	color: black;
}

.menu li{
	list-style: none;
	margin-left: 1rem;
	font-weight: 500;
}

a{
	text-decoration: none;
	color: black;
}

.logo a{
	font-weight:800;
	font-size: 1.5rem;
}

#second{
	color:#AE15EE;

}

/*end nav-bar*/
/* Style the form container */
.form-container {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 5rem auto; /* Center the form horizontally on the page */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Style form inputs and labels */
.form-container input[type="date"],
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container label {
    display: block; /* Display labels as blocks for better spacing */
    margin: 5px 0;
    font-weight: bold;
}

/* Style the submit button */
.form-container input[type="submit"] {
    background-color: #AE15EE;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the form on hover */
.form-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*footer*/

.footer{
	width: 100%;
	background: #EFEFEF;
	height: 60vh;
}
.footer-container{
	height: 100%;
	display: grid;
	align-items: end;
}

.info-footer-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	
	
}
.info-footer-column-f,.info-footer-column-b,.info-footer-column-l{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 400px;
	margin: 1rem;
}

.info-footer-row p,h3{
	padding-top: 20px;
}


.copyright-footer{
	background: #AE15EE;
	width: 100%;
	color: #ffffff;
	padding: 1rem;
}

/*end footer*/